.camera {
  margin: auto;
  width: 100%;
}
.controls {
  z-index: 10;
  width: 64px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.control {
  width: 100%;
  height: 100%;
}

.container {
  // width: 1600px;
  // height: 900px;
  width: 100%;
  height: 900px;
  position: relative;
}

.remote {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.locals {
  z-index: 10;
  /* width: 100%;
  height: 100%; */
  position: absolute;
  top: 0;
  left: 0;
}
.local {
  width: 320px;
  height: 180px;
}

// @media (min-width: 501px) and (max-width: 1920px){
//   .container {
//     width: 1600px;
//     height: 900px;
//     position: relative;
//   }
//   .local {
//     width: 320px;
//     height: 180px;
//   }
// }
// @media (min-width: 1921px) {
//   .container {
//     width: 1900px;
//     height: 900px;
//     position: relative;
//   }
// }

// @media (max-width: 960px) {
//   .container {
//     width: 600;
//     height: 500px;
//     position: relative;
//   }
//   .local {
//     width: 320px;
//     height: 180px;
//   }
// }
// @media (max-width: 500px) {
//   .container {
//     width: 400;
//     height: 500px;
//     position: relative;
//   }
//   .local {
//     width: 320px;
//     height: 180px;
//   }
// }
