
.controls {
  z-index: 10;
  width: 64px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.control {
  width: 100%;
  height: 100%;
}

.container {
  // width: 1600px;
  height: 900px;
  max-width: 100%;

  margin: 0px;
  width: 100%;
  // height: 900px;
  position: relative;
}

.remote {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.locals {
  z-index: 10;

  position: absolute;
  top: 0;
  left: 0;
}
.local {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 480px;
  height: 300px;
}
localcontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
 .box {

   width: 480px;
   height: 300px;
   position: relative;
   margin: auto;
}

.camera {
  width: 480px;
   height: 300px;
}
.selected {
  position: absolute;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 480px;
  height: 300px;
}
