<mat-error *ngIf="webrtc.errorMsg">{{ webrtc.errorMsg }}</mat-error>

<div *ngIf="isLoading">loading ....</div>
<div *ngIf="!isLoading">
  <div class="container">
    <div class="remote" id="remote-container">
      <img *ngIf="!webrtc.currentRemoteStreamID" id="remote-container-placeholder" class="camera"
        src="assets/images/white-noise.jpg"/>
    </div>
    <!-- <div id="locals" class="locals selected" > -->
    <div id="locals" class="locals">
      <div class="box" *ngFor="let webcam of webrtc.webcams">
        <video [ngClass]="webcam.id === webrtc.getSelectedCamera() ?  'selected':'local' " #webcams
          poster="assets/images/mire.jpg" width="320" height="180" muted="muted" autoplay id="{{ webcam.id }}"
          (click)="webrtc.changeWebcamInput(webcam); webrtc.selectCamera(webcam.id);"></video>
      </div>
      <div class="box" *ngFor="let cam of cams">
        <canvas [ngClass]="cam.id === webrtc.getSelectedCamera() ?  'selected':'local'" #cameras id="{{ cam.id }}"
          (click)="switchToCamera(cam.id); webrtc.selectCamera(cam.id);"></canvas>
      </div>
      
      <!-- <div id="webcams"></div> -->
    </div>

    <div class="controls">
      <div *ngIf="webrtc.joiningCall">
        <button title="Stop the call" class="center-button" color="accent" mat-fab (click)="webrtc.hangup()">
          <i class="fa fa-2x fa-spin fa-spinner" aria-hidden="true"></i>
        </button>
      </div>
      <div *ngIf="!webrtc.joiningCall">
        <button title="Start a direct call" class="center-button" *ngIf="!webrtc.currentCall" color="primary" mat-fab
          (click)="onCall()">
          <i class="fa fa-fw fa-2x fa-phone" aria-hidden="true"></i>
        </button>
        <button title="Stop the call" class="center-button" *ngIf="webrtc.currentCall" color="primary" mat-fab
          (click)="webrtc.hangup()" color="accent">
          <i class="fa fa-fw fa-2x fa-stop" aria-hidden="true"></i>
        </button>
      </div>
      <div *ngIf="webrtc.joiningVideoCall">
        <button title="Stop the video conference" class="center-button" 
          color="primary" mat-fab (click)="webrtc.hangup()" color="accent">
          <i class="fa fa-fw fa-spin fa-spinner" aria-hidden="true"></i>
        </button>
      </div>
      <div *ngIf="!webrtc.joiningVideoCall">
        <button title="Start a video conference" class="center-button" *ngIf="!webrtc.connectedConversation"
          color="primary" mat-fab (click)="webrtc.joinConference('Bepeho Media Room')">
          <i class="fa fa-fw fa-2x fa-users" aria-hidden="true"></i>
        </button>
        <button title="Stop the video conference" class="center-button" *ngIf="webrtc.connectedConversation"
          color="primary" mat-fab (click)="webrtc.hangup()" color="accent">
          <i class="fa fa-fw fa-2x fa-stop" aria-hidden="true"></i>
        </button>
      </div>
     
      <div *ngIf="webrtc.videoMuted">
        <button title="Unmute your camera" color="accent" mat-fab (click)="webrtc.onMutingVideo(false)">
          <i class="fa fa-2x fa-video-camera" aria-hidden="true"></i>
        </button>
      </div>
      <div *ngIf="!webrtc.audioMuted">
        <button title="Mute your microphone" color="primary" mat-fab (click)="webrtc.onMutingAudio(true)">
          <i class="fa fa-2x fa-microphone" aria-hidden="true"></i>
        </button>
      </div>
      <div *ngIf="webrtc.audioMuted">
        <button title="Unmute your microphone" color="accent" mat-fab (click)="webrtc.onMutingAudio(false)">
          <i class="fa fa-2x fa-microphone" aria-hidden="true"></i>
        </button>
      </div>
      <!-- <div *ngIf="!webrtc.recordingInterview">
        <button title="Start recording the interview" color="primary" mat-fab (click)="webrtc.recordInterview(true)">
          <i class="fa fa-2x fa-file-video-o" aria-hidden="true"></i>
        </button>
      </div>
      <div *ngIf="webrtc.recordingInterview">
        <button title="Stop recording the interview" color="accent" mat-fab (click)="webrtc.recordInterview(false)">
          <i class="fa fa-2x fa-file-video-o" aria-hidden="true"></i>
        </button>
      </div> -->

      <button title="Change connected user" color="primary" mat-fab [routerLink]="['/login-hublo']">
        <i class="fa fa-2x fa-user-circle-o" aria-hidden="true"></i>
      </button>
      <button title="Analyse bandwidth to optimise communication" color="primary" mat-fab (click)="onNetwork()">
        <i class="fa fa-2x fa-exchange" aria-hidden="true"></i>
      </button>

      <button title="Audio video settings" color="primary" mat-fab (click)="onSettings()">
        <i class="fa fa-2x fa-sliders" aria-hidden="true"></i>
      </button>

      <div *ngIf="webrtc.remoteVideoMuted">
      <button title="Mute remote video stream" color="accent" mat-fab (click)="webrtc.onFlipFlopRemoteVideoStream()">
        <i class="fa fa-eye-slash" aria-hidden="true"></i>
      </button>
      </div>
      <div *ngIf="! webrtc.remoteVideoMuted">
      <button title="Mute remote video stream" color="primary" mat-fab (click)="webrtc.onFlipFlopRemoteVideoStream()">
        <i class="fa fa-eye-slash" aria-hidden="true"></i>
      </button>
      </div>
    </div>
  </div>
</div>