html, body {
	margin: -10;
	padding: -10;
	overflow: hidden;
}


//  img.camera-mosaic {
//  		// width: 640px;
//  		width: 90%;
//  	}
.camera {
		margin: auto;
		height: auto;
		min-height: 80vh
	}

.cameraMosaic {
	// max-width: 1200px;
	display: flex;
	align-items: center;
	-webkit-justify-content: center;
	/* Safari */
	justify-content: center;
  }
  
//   .item {
// 	padding: 5px;
//   }
  
  img {
	width: 100%;
	height: 100%;
	display: block;
  }
  .cardList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
  }
  /* Column Gap */
  .cardList > * {
	box-sizing: border-box;
  }
  .cardList > *:not(:last-child) {
	margin-right: 0.5%;
	margin-top: 0.5%;
  }
  /* Item sizing */
  .cardListItem {
	flex: 0 1 calc(33.3% - 35px);
	flex-grow: 4;
  }
  .cardCameraListItem {
	flex: 0 1 calc(75% - 10px);
  }
// @media (min-width: 992px)  {
// 	.camera {
// 		width: 100%;
// 		//  height: 70%;
// 	}
// }
// @media (max-width: 376px)  {
// 	.camera {
// 		width: 100%x;
// 		// height: 70%;
// 	}
// }
table {
	width: 100%;
  }