html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
table {
	width: 100%;
  }
  .image-mosaic{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	z-index: 10;
	-webkit-justify-content: center;
	/* Safari */
	justify-content: center;
}

.cameo{
	-webkit-justify-content: center;
	/* Safari */
	justify-content: center;
	width: 100%;
	-webkit-justify-content: center;
	/* Safari */
	justify-content: center;
}
@media (max-width: 736px){
	.mosaic-cameo{    
		background-position: center ;
		background-size: cover;
		width: 250px;

	//  height:100vh; /* <-- Height is full height of the viewport */
	}
  }
  @media (min-width: 737px) and (max-width: 1024px){

	.mosaic-cameo{    
		background-position: center ;
		background-size: cover;
		width: 470px;

	}
  }

  @media (min-width: 1280px) {
	.mosaic-cameo{    
		background-position: center ;
		background-size: cover;
		width: 470px;
		-webkit-justify-content: center;
		/* Safari */
		justify-content: center;

	}
  }