<div class="modal-header modal-xl">
  <h4 class="modal-title">
    Settings
  </h4>

  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div>
  <h2 class="centered">Select the audio input channel</h2>
  <div class="centered">
    <button
      *ngFor="let audioInput of audioInputs"
      [ngClass]="{
        'btn btn-primary':
          audioInput.id !== getCookieInfo('selectedAudioInput', 'default'),
        'btn btn-success':
          audioInput.id === getCookieInfo('selectedAudioInput', 'default')
      }"
      mat-fab
      (click)="onSelectAudioInput(audioInput)"
    >
      <i class="fa fa-2x fa-microphone" aria-hidden="true"></i>
      {{ audioInput.label }}
    </button>
  </div>
</div>

<div >
  <h2 class="centered">Select the audio output channel</h2>
  <div class="centered">
    <button
      *ngFor="let audioOutput of audioOutputs"
      [ngClass]="{
        'btn btn-primary':
          audioOutput.id !== getCookieInfo('selectedAudioOutput', 'default'),
        'btn btn-success':
          audioOutput.id === getCookieInfo('selectedAudioOutput', 'default')
      }"
      mat-fab
      (click)="onSelectAudioOutput(audioOutput)"
    >
      <i class="fa fa-2x fa-volume-up" aria-hidden="true"></i>
      {{ audioOutput.label }}
    </button>
  </div>
</div>
<div >
  <h2 class="centered">Set your connection quality</h2>
  <div class="centered">
    <button
      *ngFor="let cons of constraints"
      [ngClass]="{
        'btn btn-primary':
          cons.label !== getCookieInfo('selectedConstraintSet', 'default: Very low bandwidth'),
        'btn btn-success':
          cons.label === getCookieInfo('selectedConstraintSet', 'default: Very low bandwidth')
      }"
      mat-fab
      (click)="onConstraint(cons)"
    >
      <i class="fa fa-2x fa-wifi" aria-hidden="true"></i>
      {{ cons.label }}
    </button>
  </div>
</div>
<div >
  <h2 class="centered">Use VP9 Codec </h2>
  <h3 class="centered">Make sure your contacts have the same configuration</h3>
  <div class="centered">
    <button
      [ngClass]="{
        'btn btn-primary':
          'true' !== getCookieInfo('isVP9', 'false'),
        'btn btn-success':
        'true' === getCookieInfo('isVP9', 'false')
      }"
      mat-fab
      (click)="flipFlopIsVP9()"
    >
      <i class="fa fa-2x fa-cogs" aria-hidden="true"></i>
      Use VP9 Codec
    </button>
  </div>
</div>
