<div *ngIf="isLoading"> loading .... </div>
<div *ngIf="error"> Error while connecting to server </div>

<div *ngIf="!isLoading && ! error">
    <div [@routerTransition]>

        <div class="row">

            <div class="col-xl-3 col-lg-6 stat" >
                <app-stat [bgClass]="'warning'" [icon]="'fa-bolt'" [count]="stats.eventCount" [label]="'Detected events' | translate" [gotoUrl]="'map'" [viewName]="'View on the map'|translate"></app-stat>
            </div>
            <div class="col-xl-3 col-lg-6 stat">
                    <app-stat [bgClass]="'success'" [icon]="'fa-film'" [count]="stats.clipCount" [label]="'Clips ready to share'|translate" [gotoUrl]="'video-records'" [viewName]="'Share these videos'|translate">
                    </app-stat>
            </div>
            <div class="col-xl-3 col-lg-6 stat">
                <app-stat [bgClass]="'success'" [icon]="'fa-cog'" [count]="stats.workerCount" [label]="'Background tasks'|translate" [gotoUrl]="'worker'" [viewName]="'Look out'|translate">
                </app-stat>
        </div>
        </div>
        <div class="row">
                <div class="col-xl-3 col-lg-6">
                        <div class="card-header">
                        {{'Recording Storage Space'|translate}}
                    </div>
                    <div class="card-body ">
                        <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" >
                        </canvas>
                    </div>
                </div>
                
            </div>
    </div>
</div>
