#map {
    height: 600px;
    width: 100%
}
mat-slider {
    width: 100%
  }

.leaflet-popup-content > element.style {
    width: 100%;
}
.leaflet-popup-content-wrapper
{
    width: 100%;
}
table {
    width: 100%;
  }
