#map {
    height: 600px;
    width: 100%
}
mat-slider {
    width: 100%
  }

.leaflet-popup-content > element.style {
    width: 100%;
}
.leaflet-popup-content-wrapper
{
    width: 100%;
}

table {
    width: 100%;
  }

  @media (min-width: 1280px) and (max-width: 1920px){
    #map {
        height: 700px;
        width: 100%
    }
  }
  @media (min-width: 501px) and (max-width: 1281px){
    #map {
        height: 500px;
        width: 100%
    }
  }
  @media (min-width: 1921px) {
    #map {
        height: 1000px;
        width: 100%
    }
  }
  @media (max-width: 500px) {
    #map {
        height: 600px;
        width: 100%
    }
  }
  
  @media (max-width: 960px) {
    #map {
        height: 600px;
        width: 100%
    }
  }