<div class="modal-header modal-xl">
  <h4 class="modal-title">{{headerMessage}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="isLoading"> loading .... </div>
<div *ngIf="!isLoading">
  <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
    <div class="container-fluid">
      <ul class=" nav navbar-nav  flex-nowrap ml-auto">
        <li> <button mat-raised-button (click)="onBuildClip()">Build Smart Clip</button></li>
        <li><button mat-raised-button (click)="onExportSegment()">Export to shared folder</button></li>

      </ul>
    </div>
  </nav>
  <div class="videogular-container">
    <vg-player (onPlayerReady)="onPlayerReady($event)">
      <vg-buffering></vg-buffering>

      <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-fullscreen></vg-fullscreen>
        <div *ngFor="let item of this.segment.videos; let $index = index">
          <button mat-raised-button color="primary" (click)="onClickPlaylistItem(item, $index)"
            [class.selected]="item === currentItem">{{ item.channel }}</button>
        </div>

      </vg-controls>

      <video #media [vgMedia]="media" src="media/{{currentItem.src}}" id="singleVideo" preload="auto" crossorigin>
      </video>
    </vg-player>

  </div>

</div>