html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.videogular-container{
	width: 100%;
	// height: 740px;
	margin: auto;
	overflow: hidden;
}

.videogular-container-audio {
	width: 100%;
	height: 50px;
	margin: auto;
	overflow: hidden;
}



@media (min-width: 992px)  {
	.videogular-container {
	// 	width: 740px;
		height: 75%;
	}

	.videogular-container-audio {
		// width: 740px;
		height: 50px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.videogular-container {
	// 	width: 728px;
		height: 75%;
	}

	.videogular-container-audio {

		// width: 728px;
		height: 50px;
	}
}

/* Custom button */
videogular my-stop-button {
	display: table-cell;
	width: 50px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

videogular my-stop-button a,
videogular my-stop-button a:hover,
videogular my-stop-button a:visited {
	color: white;
	text-decoration: none;
}

videogular div.my-button {
	display: table-cell;
	width: 50px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

videogular div.my-button a,
videogular div.my-button a:hover,
videogular div.my-button a:visited {
	color: white;
	text-decoration: none;
}

table {
	width: 100%
}
::cue {
    color: yellow;
	font-weight: bold;
	line:-16
  }