<h2 mat-dialog-title>Address Book</h2>
<mat-dialog-content>
  <mat-selection-list #adress [multiple]="false" (selectionChange)="onChange($event)">
    <div *ngFor="let user of users" >
    <mat-list-option  *ngIf="(user.id !== currentId)" value ={{user.id}} >
      {{user.fullname}}
    </mat-list-option>
    </div>
  </mat-selection-list>
  
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="calleeID" cdkFocusInitial>Call</button>
</div>
