<div class="card text-white bg-{{bgClass}}" mat-elevation-z8 (click)="gotoPage()">
	<div class="card-header">
		<div class="row">
			<div class="col col-xs-3">
				<i class="fa {{icon}} fa-5x"></i>
			</div>
			<div class="col col-xs-9 text-right">
				<div class="d-block huge">{{count}}</div>
				<h2>
				<div class="d-block">{{label}}</div>
			</h2>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<h3>
		<span class="float-left">Go to {{viewName}} {{data}}</span>
	</h3>
		<span ><i class="fa fa-arrow-circle-right fa-5x"></i></span>
	</div>
</div>
