* {
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    -ms-transition: margin-left 0.2s ease-in-out;
    -o-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
}
.main-container {
    // margin-top: 56px;
     margin-left: 235px;
     padding: -30px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
    margin-left: 300px;
}
.collapsed {
    margin-left: 100px;
}
// @media screen and (max-width: 992px) {
//     .main-container {
//         margin-left: 0px !important;
//     }
// }
@media print {
    .main-container {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
}
/* HeroesComponent's private CSS styles */
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .versions {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .versions li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .versions li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .versions li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .versions .text {
    position: relative;
    top: -3px;
  }
  .versions .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }