<div *ngIf="isLoading">loading ....</div>
<div *ngIf="!isLoading">
        <div class="row" >
  <div class="col-xl-3 col-lg-6 stat" *ngFor="let worker of workers">

      <app-countdown
        [bgClass]="'success'"
        [icon]="getIcon(worker)"
        [count]="worker.time"
        [label]="worker.name"
        [progress]="worker.progress"
        [viewName]="worker.group"
      >
      </app-countdown>
  </div>
  </div>
</div>
<!-- <div *ngIf="isLoading">loading ....</div>
<div *ngIf="!isLoading">
  <div class="row" *ngFor="let worker of workers">
    <div class="col-xl-3 col-lg-6 stat">
      <app-countdown
        [bgClass]="'success'"
        [icon]="getIcon(worker)"
        [count]="worker.time"
        [label]="worker.name"
        [progress]="worker.progress"
        [viewName]="worker.group"
      >
      </app-countdown>
    </div>
  </div>
</div> -->