

@media (min-width: 992px)  {
	.app-stat {
	// 	width: 740px;
		height: 50%;
	}
}
.alert {
	width:100%;    
 }
 .center {
	// margin:1.5em;
    // padding:1em;
    text-align:center;
  }
  #testnetwork {
	width: 150px;
	}